.footer {
    width: 100%;
    bottom: 0;
}

.card-header-transparent {
    background: transparent !important;
    color: #1b1e21 !important;
}

.card-icon-transparent {
    background: transparent !important;
}

section {
    margin-top: 10px;
}